.blue1-bg{
    background-color: rgb(142, 223, 248);
}

.blue2-bg{ 
    background-color: rgb(72, 146, 241);
}

.blue3-bg {
    background-color: rgb(160, 170, 214);
}

.blue4-bg {
    background-color: rgb(86, 79, 146);
}

.blue5-bg {
    background-color: rgb(37, 37, 114);
}

.green1-bg{
    background-color: rgb(167, 238, 211);
}

.green2-bg{ 
    background-color: rgb(37, 114, 95);
}

.green3-bg {
    background-color: rgb(114, 221, 149);
}

.green4-bg {
    
    background-color: rgb(51, 150, 51);
}

.green5-bg {
    background-color: rgb(40, 92, 27);
}


.orange1-bg{
    background-color: rgb(252, 216, 151);
}

.orange2-bg{ 
    background-color: rgb(243, 180, 63);
}

.orange3-bg { 
    background-color: rgb(238, 175, 104);
}

.orange4-bg {
    background-color: rgb(238, 135, 17);
}

.orange5-bg {
    background-color: rgb(201, 89, 37);
}

.purple1-bg{
    background-color: rgb(240, 151, 252);
}

.purple2-bg{ 
    background-color: rgb(119, 11, 129);
}

.purple3-bg { 
    background-color: rgb(184, 119, 236);
}

.purple4-bg {
    background-color: rgb(162, 73, 214);
}

.purple5-bg {
    background-color: rgb(77, 8, 122); 
}


@media (min-width: 550px) {
    .w-md-50 {
        width: 50%;
    }
  .w-md-33 {
      width: 33.3%;
  }
  .w-md-25 {
      width: 25%
  }
}
/* END OF MD QUERY */

@media (min-width: 960px) {
    .w-lg-100 {
        width: 100%;
    }

    .w-lg-50 {
    width: 50%;
}
}
/* END OF LG QUERY */