.floater {
    float: left; 
    min-height: 200px; 
}

.w-100 {
    width: 100%;
}

.unicorn2 {padding-top: 20px;padding-bottom: 20px;
    padding-left: 20px;

}

.dogs {padding-left: 20px;
}
.lisa {padding-left: 30px; padding-top: 50px; 
    padding-right: 20px;

}
.lisa2{padding-left:40px; padding-top:50px; 
    padding-right:20px;

}