@charset "UTF-8";
@import url("layout.css");
@import url("colors.css");
/*first responsive site*/
	.nav {width:20px;padding-left:15px;padding-bottom:30px;}
ul {padding-left:0; list-style-type:none;}
li {display: inline-block;}
li a {diplay:block; text-align: center;color: seagreen;padding: 2px .5%;width: 22%;}
a:link {color: seagreen; text-align:center; text-decoration:none;} 
a:visited  {font-color: seagreen;}
a:hover {background-color:#91cceb; color:seagreen;} 
a:active {background-color:#e3b9d7;color:seagreen;} 
body {margin: 0px;font-family: Ariel, Helvetica, sans-serif; 
}
.logo{max-width:75px; margin:15px;}

#toggleAssist, 
ul.nav-links {
	display:none;
}

#toggleAssist:checked + ul.nav-links{display:block;}

.toggle-button {
    width: 40px; 
    float: right; 
    margin: 15px;
}

ul.nav-links {
   list-style: none;
   padding-left: 0px;

}

ul.nav.links.li {
   padding: 10px;
   border-bottom: 2px solid dodgerblue;

}

ul.nav.links.a {
     text-decoration: none; 
     text-transform: uppercase; 
     color: #4c604c

}

@media (min-width: 550px) {
    .toggle-button {
        display: none;
    }

    ul.nav-links {
        display: block; 
        float: right; 
        margin-top: 35px;
    }

    ul.nav-links li {
        display: inline-block;
        border-bottom: none;
    }
} /* END OF MID-SCREEN MEDIA QUERY */

@media (min-width: 960px) {
    header {
        width: 960px;
        margin: auto;
    }

} /* END OF LARGE SCREEN MEDIA QUERY */



/*home*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.row {height: 350px;width:1000px;}
.column{height:1000px;width:350px;}
.footer {}
.textbox1 {width: 100%; overflow:auto; margin:0; font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"}
.location-text1 {padding-bottom: 30px;text-align: justify; text-justify: inter-word;hanging-punctuation:force-end; width:40%; background-color:white; float: left; margin-left: 70px; margin-top: 0px; margin-right:0px;margin-bottom:0px;font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif"; right-padding: 0px;}
h2 {font-size: 24pt;margin-left: 70px;font-family: tomorrow;}

/*products*/

/*about*/

/*contact*/
