@import url("colors.css");
@import url("navbar.css");

body {
    margin: 0px;
}


.flexbox6 {
    display: flex;
    flex-direction: column;
            align-content: space-around;
            justify-content: space-evenly;
            text-align: center;
  }


  .flex1 {
    display: none;
  }

  .flex2 {
    display: none;
  }



@media(min-width: 500px) {

.flexbox6 {
    display: flex;
            flex-direction: column;
            align-content: space-around;
            justify-content: space-evenly;
            text-align: center;
          }
          
   

  .flex1 {
    display: none;
}

.flex2 {
  display: none;
}


@media(min-width: 768px){

    
          .flexbox6 {
            display: none;
          }

          .flexbox1 {
            display: flex;
            flex-direction: column;
            align-content: space-around;
            justify-content: space-evenly;
            width: 288px;
            text-align:center;
            margin-left: 28px;
          }

          .flexbox2 {
            display: flex;
            flex-direction: column;
            align-content: space-around;
            justify-content: space-evenly;
            width: 288px;
            text-align:center;
            margin-left: 28px;

}
      .flexbox3 {
          display: flex;
         flex-direction: column;
           align-content: space-around;
          justify-content: space-evenly;
           width: 288px;
           text-align:center;
          margin-left: 28px;

}

.flex1 {
  display: flex;
  flex-direction: row;
}

.flex2 {
  display: flex;
  flex-direction: row;
}

.flexbox4 {
  display: flex;
 flex-direction: column;
   align-content: space-around;
  justify-content: space-evenly;
   width: 576px;
text-align:center;
margin-left: 28px;

}

.flexbox5 {
  display: flex;
 flex-direction: column;
   align-content: space-around;
  justify-content: space-evenly;
   width: 288px;
text-align:center;
margin-left: 28px;

}