@import url("colors.css");
@import url("navbar.css");

body {
    margin: 0px;
}

.flexbox {
    display: none;
  }
  
  .flexbox2 {
      display: none;
    }
  
  .flexbox3 {
      display: none;
    }

    .flexbox4 {
      display: none;
    }

    .flexbox5 {
        display: none;
      }

.flexbox6 {
    display: flex;
    flex-direction: column;
            align-content: space-around;
            justify-content: space-evenly;
            text-align: center;
  }

@media(min-width: 500px) {

.flexbox6 {
    display: flex;
            flex-direction: column;
            align-content: space-around;
            justify-content: space-evenly;
            text-align: center;
          }
          .flexbox {
            display: none;
        }
        .flexbox2 {
            display: none;
        }
        .flexbox3 {
            display: none;
        }
        .flexbox4 {
            display: none;
        }
        .flexbox5 {
            display: none;
        }

@media(min-width: 768px){

    .flexbox {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
      }
      
      .flexbox2 {
          display: flex;
          flex-direction: row;
          align-content: space-around;
          justify-content: space-around;
        }
      
      .flexbox3 {
          display: flex;
          flex-direction: row;
          align-content: space-around;
          justify-content: space-evenly;
        }
        .flexbox4 {
          display: flex;
          flex-direction: row;
          align-content: space-around;
          justify-content: space-around;
        }

        .flexbox5 {
            display: flex;
            flex-direction: row;
            align-content: space-around;
            justify-content: space-evenly;
          }

          .flexbox6 {
            display: none;
          }


}

