/* BACKGROUND COLORS */
.red-bg {
    background-color: rgb(163, 178, 228);
}

.green-bg {
    background-color: rgb(106, 179, 138);
}

.yellow-bg {
    background-color: rgb(81, 126, 185);
}

.cream-bg {
    background-color: black;
}

.purple-bg {
    background-color: rgb(154, 96, 212);
}