@import url("main.css");

.flex {
    display: flex;
    flex-direction: column;
    align-content: center;

}

nav .logo {
    box-sizing: border-box;
    justify-content: center;
    width: 15%;
    align-items: center;
    align-content: center;
}

nav .logo-container {}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: 'Raleway';
    text-align: center;
}

nav ul li {
    padding: 10px;
    border-bottom: 2px solid rgb(3, 97, 151);
}

nav a {
    text-decoration: none;
    font-family: 'Raleway';
    color: rgb(253, 251, 251);
    font-size: 190%;
}

@media(min-width: 500px) {

    .flex {
        display: flex;
        flex-direction: column;

    }

    .order-3 {
        order: 3;
        font-family: 'Raleway';
    }

    .order-1 {
        order: 1;
        font-family: 'Raleway';
    }

    .order-2 {
        order: 2;
        font-family: 'Raleway';
    }

    .order-4 {
        order: 4;
        font-family: 'Raleway';
    }

    .order-5 {
        order: 5;
        font-family: 'Raleway';
    }
}

@media(min-width: 768px) {

    .order-1 {
        order: 1;
        font-family: 'Raleway';
    }

    .order-2 {
        order: 2;
        font-family: 'Raleway';
    }

    .order-3 {
        order: 3;
        font-family: 'Raleway';
    }

    .order-4 {
        order: 4;
        font-family: 'Raleway';
    }

    .order-5 {
        order: 5;
        font-family: 'Raleway';
    }

    .image-grid img {
        width: 80%;
    }

    .image-grid p {
        padding: 10px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
    }

    nav.flex {
        flex-direction: row;
        justify-content: space-between;

    }

    nav .logo {
        align-items: center;
        align-content: center;
        width: 70px;
    }

    nav .logo-container {
        display: flex;
        align-items: center;
        align-content: center;
    }

    nav ul.flex {
        flex-direction: row;
        justify-content: space-evenly;
        flex-grow: 2;
        text-align: center;
        align-items: center;
        align-content: center;
        font-family: 'Raleway';
    }

    nav li:first-child {
        border-left: none;
    }

    nav ul li {
        border-bottom: none;
        border-left: ;
        /* margin: 0px 10px; */
        flex-basis: 0;
        flex-grow: ;
    }
}